<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Receipt List</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'expense_category_list' %}">Expense Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'create_expense_category' %}">Create Expense Category</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        <main>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
